<section>
  <table id="table" class="table table-striped">
    <thead>
      <th>Food Name</th>
      <th>Price</th>
      <th>Category</th>
      <th>Image</th>
    </thead>
    <tbody>
      <tr class="table-row" *ngFor="let meal of meals">
        <td>{{ meal.foodName }}</td>
        <td>{{ meal.price }}</td>
        <td>{{ meal.category }}</td>
        <td><button (click)="changeMeal(meal)">Image</button></td>
      </tr>
    </tbody>
  </table>
  <app-meal-image [chosenMeal]="actualMeal"></app-meal-image>
</section>
